* {
    margin: 0;
    padding: 0;
}

body {
    background: cornflowerblue;
    height: 100dvh;
    width: 100dvw;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

h1 {
    font-size: 3rem;

    margin-top: 4rem;
}

input#addTask {
    width: 25rem;
    height: 2rem;

    border: none;
    border-radius: 8px;

    padding-left: 10px;
}

button {
    border: none;
    border-radius: 6px;
    box-shadow: 0.5px 1px 1px rgb(43, 40, 40);

    height: 1.8rem;
    width: 8rem;

    cursor: pointer;
}

button:hover {
    background: rgb(168, 166, 166);
}

div#container { 
    background-color: white;
    box-shadow: 0.5px 1px 1px rgb(43, 40, 40);

    margin: 2rem auto;
    max-width: 46.8rem;
    min-width: 30rem;
    min-height: 300px;

    border-radius: 7px;
    border: 0.5px solid black;
}

div.task {

    margin: 0.5rem auto;
    width: 45.8rem;
    height: 2rem;

    border-radius: 7px;
    box-shadow: 0.5px 1px 1px black;

    background: cadetblue;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

div.task > p {
    display: inline-block;
    
    width: 31.2rem;
}

div.task > button {
    width: 2rem;
    height: 25px;

    color: black;
    background: white;

}

div.task > button:hover {
    background: rgb(168, 166, 166);
}

.remove {
    display: none;
}

div.task > input {
    display: inline-block;
    margin: 0;

    width: 7.8rem;
    height: 1.2rem;

    cursor: pointer;
}

footer {
    text-align: center;
}